@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .underline-animation {
    position: relative;
  }

  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 15px;
    height: 1.5px;
    background-color: #164988;
    transition: width 0.3s ease-in-out;
  }

  .underline-animation:hover::after {
    width: 100%;
  }

  .landing-page-hover {
    position: relative;
  }

  .landing-page-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0px;
    height: 1.5px;
    background-color: #164988;
    transition: width 0.3s ease-in-out;
  }

  .landing-page-hover:hover::after {
    width: 100%;
  }
}
